/* styles */
:root {
    --color-white: #eaebed;
    --color-teal: #98dad9;
    --color-blue: #5b8291;
    --color-dark: #2e424d;
}

* {
    box-sizing: border-box;
}

/* 62.5% of 16px=10px or 1 rem */
html {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 62.5%;
    background-color: #eaebed;
    letter-spacing: 1px;
}

h1 {
    font-size: 4rem !important;
}

h2 {
    font-size: 3rem !important;
}

h3 {
    font-size: 2rem !important;
    font-weight: 300;
}

p {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}






/* nav */
.nav__bar {
    background-color: var(--color-blue);
    width: 100%;
    font-size: 4rem;
    display: inline-flex;
    justify-content: space-between;
    color: var(--color-white);
}

.nav__logo {
    padding: 1.2rem 2rem;
    background-color: rgb(65, 65, 65);

}

.nav__logo span:last-of-type {
    font-size: 3rem;
}

.nav__button {
    padding: 1rem;
    font-size: 3rem;
    align-self: center;
}

.nav__button:hover {
    transform: scale(1.2);
    transition: all .25s ease-in-out;
    color: white;
}

/* nav collapsible */
.nav__bar__expanded {
    display: none;
}

.menu__expanded {
    align-items: center;
    background-color: var(--color-blue);
    display: flex;
    flex-direction: column;
    float: right;
    font-size: 2.5rem;
    height: 550px;
    margin: 0;
    padding: 0;
    width: 250px;
    z-index: 2;
}

.menu__expanded li {
    margin: 3rem 0 4rem 1.5rem;
    text-decoration: none;
    color: var(--color-white);
    list-style: none;
}

.menu__expanded svg {
    margin-right: 1.5rem;
}

.menu__expanded a {
    color:var(--color-white);
    padding: 1rem 3rem;
    border-radius: 10px;
}

.menu__expanded li a:hover {
    color: white;
    background-color: #6f9aab;

}

.menu__expanded li a:active {
    color: var(--color-teal);
}



@media screen and (min-width: 1200px){
    .nav__bar {
        font-size: 5rem;
    }

    .menu__expanded {
        font-size: 3rem;
    }
}

/* header section */

.header__container {
    background-image: url("../images/abstract_geometric_banner_design_2507.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 360px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    top: 11rem;
}

.hero__image img {
   border-radius: 50%;
   margin: 2rem;
}

.hero__statement {
    width: 300px;
    margin: 0rem 5rem;
}

.hero__statement h1 {
    margin: 1rem 0;
}

.hero__statement h3 {
    margin: 0;
}

.first__name {
    /* color: rgb(0, 98, 255); */
}

.front__end {
    color: rgb(0, 26, 255);
}

.btn {
    position: relative;
    bottom: 4px;
    margin-right: 3rem;
    font-size: 1.5rem;
    padding: 10px 30px;
    border-radius: 30px;
    border: none;
    letter-spacing: 1.2px;
    font-weight: normal;
    background-color: var(--color-blue);
    color: var(--color-teal);
}

.btn:hover {
    box-shadow: 0px 2px 5px rgb(87, 87, 87);
}

.btn__container {
  margin-top: 3rem;
}

.btn__soc {
    margin: 1rem;
    font-size: 3rem;
    background-color: rgb(87, 87, 87);
    padding: 6px 10px;
    border-radius: 25%;
    color: var(--color-teal);
 
}

.btn__soc:hover {
    box-shadow: 0px 2px 5px rgb(87, 87, 87);
}
